<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>328580791806-83ujo58pbbc2di41g15nndg4cfsq9r0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328580791806-83ujo58pbbc2di41g15nndg4cfsq9r0o</string>
	<key>API_KEY</key>
	<string>AIzaSyDWvZNVSAdqVQpqtJT-WkItWj46LvUazwM</string>
	<key>GCM_SENDER_ID</key>
	<string>328580791806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dfsdvds</string>
	<key>PROJECT_ID</key>
	<string>ghost-gab</string>
	<key>STORAGE_BUCKET</key>
	<string>ghost-gab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:328580791806:ios:22fa890b82392987</string>
	<key>DATABASE_URL</key>
	<string>https://ghost-gab.firebaseio.com</string>
</dict>
</plist>